div{
    display: flex;
}
.wrapper{
    background-image: url("../img/backgroung.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: Verdana, sans-serif;
    flex-direction: column;
}

.header{
    justify-content: space-between;
    width: 100vw;
    min-height: 56px;
    background-color: rgba(0, 0, 0, 0.41);
}
.logo-text{
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 83px;
}
.logo-text:hover{
    color: #3cb878;
}
.icons{
    align-items: center;
    margin-right: 50px;
}
.calendar{
    width: 19px;
    height: 19px;
    background: url("../img/css_sprites.png") -106px -10px;
    margin-right: 25px;
}
.calendar:hover{
    width: 19px;
    height: 19px;
    background: url("../img/css_sprites.png") -106px -49px;
}
.forum{
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -10px;
    margin-right: 25px;
}
.forum:hover{
    width: 28px;
    height: 20px;
    background: url('../img/css_sprites.png') -58px -10px;
}
.journey{
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -10px -50px;
    margin-right: 50px;
}
.journey:hover{
    width: 20px;
    height: 20px;
    background: url('../img/css_sprites.png') -50px -50px;
}
.authorization{
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-right: 72px;
}
.recolor{
    color: #3cb878;
    text-decoration: none;
}
.recolor:hover{
    text-decoration: underline;
}
.main-field{
    width: 444px;
    min-height: 584px;
    background-color: white;
    overflow: auto;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    flex-direction: column;
    align-items: center;
}
.greenbox{
    display: flex;
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    position: relative;
    right: 213px;
    top: 50px;
}
.main-field-wrapper{
    width: 320px;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
}
.main-field-authorization{
    width: 320px;
    color: black;
    flex-direction: column;
}
.main-field-authorization-text{
    justify-content: space-between;
    width: 320px;
}
.main-field-authorization-text-left{
    font-size: 20px;
    font-weight: 400;
}
.main-field-authorization-text-right{
    color: #3cb878;
    font-size: 14px;
    text-decoration: none;
}
.main-field-authorization-text-right:hover{
    text-decoration: underline;
}

.main-field-authorization-links{
    margin-top: 15px;
    justify-content: space-between;
}
.facebook{
    display: flex;
    width: 157px;
    height: 46px;
    background-color: #305db8;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 4px;
}.facebook:hover{
     background-color: #264b96;
 }
.facebook-logo{
background-image: url("../img/facebook.png");
    width: 10px;
    height: 20px;
}
.facebook-line{
    background-image: url("../img/facebookline.png");
    width: 1px;
    height: 28px;
}
.facebook-text{
    color: #ffffff;
    font-size: 16px;
}
.google{
    display: flex;
    width: 157px;
    height: 46px;
    background-color: #df4a32;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 4px;
}
.google:hover{
    background-color: #c3412c;
}
.google-logo{
    background-image: url("../img/google.png");
    width: 25px;
    height: 16px;
}
.google-line{
    background-image: url("../img/google-line.png");
    width: 1px;
    height: 28px;
    margin-right: 20px;
}
.google-text{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin-right: 10px;
}
.main-field-registration-form-legend{
    justify-content: space-between;
    width: 320px;
    color: black;
    margin-top: 35px;
    margin-bottom: 18px;
    align-items: center;
}
.main-field-registration-form-legend-text{
    align-items: center;
}
.main-field-registration-form-legend-line{
    width: 135px;
    height: 1px;
    background-color: black;
    opacity: 0.41;
}
.registration-form{
    display: flex;
    flex-direction: column;
}
.registration-form-input{
    border: 0.5px solid #bebebe;
    border-radius: 3px;
    height: 46px;
    margin-bottom: 18px;
    opacity: 0.6;
    justify-content: left;
    padding:0 20px;
    font-size: 14px;
    color: #bebebe;
}
.registration-form-input:hover{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    color: rgba(0, 0, 0, 1);
}
.registration-form-button{
    margin-top: 18px;
    height: 46px;
    background-color: #3cb878;
    color: #ffffff;
    font-size: 16px;
    border: 0;
    border-radius: 3px;
}
.registration-form-button:hover{
    background-color: #329a65;
}
.checkbox-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    opacity: 1;
}
.terms-and-conditions{
    text-decoration: none;
    color: #3cb878;
}
.terms-and-conditions:hover{
    text-decoration: underline;
}
.readme{
    margin-left: 30px;
}

#checkbox {
    display: none;
    /*opacity: 1;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*border-radius: 3px;*/

}

.registration-form-conformation {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    vertical-align: bottom;
    cursor: pointer;
    position: relative;
    right: 300px;
}

#checkbox:checked +.registration-form-conformation::before {
    /*display: flex;*/
    content: "";
    /*content: url(http://i.piccy.info/i9/23c437eb1c9662ba04422f05c4478731/1562830006/221/1327234/checkbox_1X.png);*/
    background-image: url("../img/checkbox.png");
    /*justify-content: center;*/
    position: absolute;
    color: green;
    left: 300px;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    outline: none;
}