a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #f26522;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 768px;
    font-family: Verdana, sans-serif;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px;
    color: white;
}

.header{
    width: 1064px;
    height: 46px;
    margin: 50px 0 35px 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
}

.icon{
    display: flex;
    width: 46px;
    height: 44px;
    margin-right: 15px;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo:hover .icon {
    background-image: url("../img/logohover.png");
}

.logo:hover .logo-text {
    color: #f26522;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text-first{
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-text-second{
    font-weight: 700;
    text-transform: uppercase;
}

.contacts{
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
}

.contact-us:hover {
    color: white;
    font-size: 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1064px;
    height: 538px;
}

.container a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 307px;
    height: 243px;
    margin-bottom: 50px;
    text-align: center;
}
.container a img{
    width: 307px;
    height: 201px;
}

.img-hoover{
    width: 308px;
    height: 63px;
    background-color: #f26522;
}

.content-item-paneltop{
    position: absolute;
    top: 271px;
    display: inline-flex;
    width: 307px;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #f26522;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s;
    color: white;
}

.content-item:hover .content-item-paneltop {
    opacity: 1;
    transform: translateX(0);
}

.content-item-panelbottom {
    position: absolute;
    top: 564px;
    display: flex;
    width: 307px;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: #f26522;
    opacity: 0;
    transform: translateY(100%);
    transition: all .3s;
    color: white;
}

.content-item:hover .content-item-panelbottom {
    opacity: 1;
    transform: translateX(0);
}

.text1{
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin-left: 18px;
}

.text1:first-child{
    font-size: 10px;
}

.text1:last-child{
    font-size: 20px;
}

.price{
    font-size: 20px;
    margin-top: 5px;
}

.text2 {
    display: inline-flex;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 15px;
}

.text2:after{
content: "\003E";
margin-left: 15px;
}

.text1low{
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin-left: 18px;
}
.text1low:first-child{
    font-size: 10px;
}

.pricelow{
    font-size: 20px;
    margin-top: 5px;
}

.text1low:last-child{
    font-size: 20px;
}

.text2low{
    font-size: 20px;
    margin-top: 5px;
}

.text2low {
    display: inline-flex;
    font-size: 14px;
    margin-top: 20px;
    margin-right: 15px;
}

.text2low:after{
    content: "\003E";
    margin-left: 15px;
}

.footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 400;
}
